@font-face {
	font-family: 'Conv_Montserrat-Bold';
	src: url('../css/fonts/Montserrat-Bold.eot');
	src: local('☺'), url('../css/fonts/Montserrat-Bold.woff') format('woff'), url('../css/fonts/Montserrat-Bold.ttf') format('truetype'), url('../css/fonts/Montserrat-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Roboto-Light';
	src: url('../css/fonts/Roboto-Light.eot');
	src: local('☺'), url('../css/fonts/Roboto-Light.woff') format('woff'), url('../css/fonts/Roboto-Light.ttf') format('truetype'), url('../css/fonts/Roboto-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Montserrat-Regular';
	src: url('../css/fonts/Montserrat-Regular.eot');
	src: local('☺'), url('../css/fonts/Montserrat-Regular.woff') format('woff'), url('../css/fonts/Montserrat-Regular.ttf') format('truetype'), url('../css/fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
$main-color: #fff;
$rd-color: #ff4e50;
$font-Montserrat: 'Conv_Montserrat-Bold', sans-serif;
$font-RobotoL:'Conv_Roboto-Light', sans-serif;
$font-RegMntsrt:'Conv_Montserrat-Regular', sans-serif;

a:active,
a:hover {
  outline: 0;
}

a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
img{
	max-width: 100%;
	width: auto;
	height: auto;
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
}
.part{
	width: 100%;
}
.part__block{
	margin: 0 auto;
}
/* 	part_1 */
.part_1{
	color: $main-color;
	font-family: $font-Montserrat;
}
/* part_1  line 1 */
.top__checkIn{
	width: 152px;
}
.checkIn__logIn,
.checkIn__signUp,
.content__find,
.sliders__text,
.man__name,
.man__text,
.partners__other,
.searchPartners__value,
.searchPartners__button,
.nameNav_main,
.nameNav{
	font-size: 14px;
}
.checkIn__logIn,
.checkIn__signUp{
	height: 36px;
	color: $main-color;
}
.checkIn__logIn{
	float: left;
	display: block;
	width: 45px;
	line-height: 34px;
}
.checkIn__signUp{
	float: right;
	display: block;
	width: 90px;
	line-height: 30px;
	box-sizing:border-box;
	text-align: center;
	border: 2px solid $main-color;
	border-radius: 20px;
}
/* part_1  line 2 */
.center__content{
	margin: 0 auto;
}
.content__slogan{
	display: block;
	font-family: $font-RobotoL;
	text-align: center;
}
.content__find{
	margin: 0 auto;
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-family: $font-Montserrat;
	color: $main-color;
	background-color: $rd-color;
	border-radius: 30px;
}
/* part_2 */
/* block__works Carousel */
.works__topic{
	text-align: center;
}
.topic_line{
	font-family: $font-Montserrat;
	font-size: 22px;
	color: #000;
}
.sliders{
	color: $main-color;
}
.sliders__link {
	margin-bottom: 20px;
    display: block;
    width: 70px;
    height: 20px;
    line-height: 20px;
    font-family: $font-RegMntsrt;
    font-size: 10px;
    color: $main-color;
    text-align: center;
    background-color: $rd-color;
    border-radius: 8px;
}
.sliders__slogan{
	margin-bottom: 20px;
	font-family: $font-Montserrat;
	font-size: 24px;
}
.sliders__text{
	font-family: $font-RobotoL;
	line-height: 17px;
	opacity: .60;
}
/* block__partners */
.man{
	width: 220px;
	text-align: center;
}
.man__foto{
	position: relative;
	margin: 0 auto;
	width: 120px;
	height: 120px;
}
.man__foto_1{
	background: url(../img/man__1.png);
}
.man__foto_2{
	background: url(../img/man__2.png);
}
.man__foto_3{
	background: url(../img/man__3.png);
}
.man__foto_4{
	background: url(../img/man__4.png);
}
.foto__icon{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 40px;
	height: 40px;
	background:  url(../img/man_ideas.png);
}
.foto__icon_1{
	background-position: 0 0;
}
.foto__icon_2{
	background-position: -43px 0;
}
.foto__icon_3{
	background-position: -85px 0;
}
.foto__icon_4{
	background-position: -128px 0;
}
.man__name{
	margin: 20px auto;
	display: block;
	font-family: $font-Montserrat;
	color: #333333;
}
.man__text{
	font-family: $font-RobotoL;
	line-height: 17px;
	color: #666666;
}
.partners__other{
	margin: 0 auto;
	display: block;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-family: $font-Montserrat;
	color: $rd-color;
	border: 2px solid $rd-color;
	border-radius: 30px;
}
.ideas__holiday{
	position: relative;
}
.holiday__text{
	position: absolute;
	display: block;
	top: 47%;
	width: 100%;
	text-align: center;
	font-family: $font-Montserrat;
	font-size: 22px;
	color: $main-color;
	text-shadow:#000000 1px 1px;
}
.searchPartners__slogan{
	display: block;
	font-family: $font-RobotoL;
	font-size: 18px;
	color: #7d7d7d;
	text-align: center;
}
.searchPartners__value{
	padding-left: 16px;
	height: 38px;
	line-height: 38px;
	font-family: $font-RobotoL;
	color: #31190b;
	border: 1px solid #cccccc;
	border-radius: 3px;
}
.searchPartners__button{
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-family: $font-Montserrat;
	color: $main-color;
	background-color: $rd-color;
	border: 0;
	border-radius: 30px;
	outline: none;
}
/* part_3 */
.part_3{
	border-top: 4px solid $rd-color;
}
.block__logo_ftr{
	display: block;
	width: 143px;
	font-family: $font-Montserrat;
	font-size: 16px;
	color: $rd-color;
}
.nameNav_main{
	font-family: $font-Montserrat;
	color: #333333;
}
.nameNav{
	display: block;
	font-family: $font-RobotoL;
	color: #8c8c8c;
}
.block__designed{
	text-align: center;
}
.designed__by{
	padding-bottom: 10px;
	font-family: $font-Montserrat;
	font-size: 10px;
	color: #cccccc;
}

@media screen and (min-width : 320px){
/* part_1 */
	.part_1{
		background: #734440 url(../img/main__img_for_Mobile.jpg) no-repeat  ;
				-moz-background-size: cover; /* Firefox 3.6+ */
    			-webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    			-o-background-size: cover; /* Opera 9.6+ */
    			background-size: cover; /* Современные браузеры */;
	}
	.part__block{
		width: 300px;
	}
	.part__block_1{
		padding: 20px 0 138px 0;
	}
/* part_1  line 1 */
	.top__checkIn{
		margin: 0 auto;
	}
	.checkIn__logIn{
	}
	.top__logo{
		display: block;
		margin: 120px auto 40px;
		font-family: $font-Montserrat;
		font-size: 20px;
		color: $main-color;
		text-align: center;
	}
/* part_1  line 2 */
	.center__content{
		width: 280px;
	}
	.header_line{
		display: block;
		font-size: 30px;
		line-height: 36px;
		text-align: center;
	}
	.content__slogan{
		margin: 21px auto 20px;
		width: 218px;
		line-height: 21px;
		font-size: 18px;
	}
	.content__find{
		width: 280px;
	}
/* part_2 */
	.part__block_2{
		padding: 40px 0;
	}
/* block__works Carousel */
	.works__topic{
		margin: 0 auto 20px;
		width: 286px;
	}
	.topic_line{
		line-height: 26px;
	}
	.block__partners{
		margin: 39px 0;
	}
	.sliders{
		width: 300px;
		height: 240px;
		-moz-background-size: cover; /* Firefox 3.6+ */
    	-webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    	-o-background-size: cover; /* Opera 9.6+ */
    	background-size: cover; /* Современные браузеры */;
	}
	.sliders_1{
		margin-bottom: 10px;
		background: $main-color url(../img/step__1_for_Mob.jpg) no-repeat  ;	
	}
	.sliders_2{
		margin-bottom: 10px;
		background: $main-color url(../img/step__2_for_Mob.jpg) no-repeat  ;
	}
	.sliders_3{
		background: $main-color url(../img/step__3_for_Mob.jpg) no-repeat  ;
	}
	.jcarousel__sliders,
	.jcarousel-control-prev,
	.jcarousel-control-next{
		display: none;
	}
	/* block__partners */
	.partners__other{
		width: 276px;
	}
	.man{
		margin: 0 auto;
		padding-bottom: 30px;
	}
	/* 	block__ideas */
	.block__ideas{
		margin-bottom: 40px;
	}
	.grid-item{
		margin: 10px 0 0 0;
		text-align: center;
	} 
	.grid-item:first-child{
		margin: 0;
	}
	.grid-item img{
		width: 100%;
	}
	.searchPartners__form{
		margin: 0 auto;
		display: block;
	}
	.searchPartners__slogan{
		margin-bottom: 20px;
	}
	.searchPartners__value{
		margin: 0 auto;
		display: block;
		width: 264px;
	}
	.searchPartners__button{
		margin: 10px auto 0;
		display: block;
		width: 280px;
	}
/* 	part_3 */
	.part__block_3{
		padding: 16px 0 18px 0;
	}
	.nameNav_main{
		margin: 0 auto;
		display: block;
		width: 67px;
	}
	.block__nameNav{
		width: 194px;
	}
	.block__logo_center{
		margin: 0 auto 19px;
		text-align: center;
	}
	.nameNav_main_first{
		margin-bottom: 10px;
	}
	.nameNav{
		float: left;
		margin-left: 10px;
	}
	.nameNav_first{
		margin-left: 0;
	}
}

@media screen and (min-width : 768px){
/* 	part_1 */
	.part_1{
		background: #734440 url(../img/main__img_for_Tablet.jpg) no-repeat  ;
				-moz-background-size: cover; /* Firefox 3.6+ */
    			-webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    			-o-background-size: cover; /* Opera 9.6+ */
    			background-size: cover; /* Современные браузеры */;
	}
	.part__block_1{
		padding: 38px 0 234px 0;
		width: 669px;
	}
/* part_1  line 1 */
	.block__top{
		margin-bottom: 153px;
		height: 36px;
		line-height: 36px;
	}
	.top__checkIn{
		margin: 0;
		float: right;
	}
	.top__logo{
		margin: 0;
		float: left;
	}
/* 	part_1  line 2 */
	.center__content{
		width: 478px;
	}
	.header_line{
		font-size: 51px;
		line-height: 62px;
	}
	.content__slogan{
		width: 400px;
		line-height: normal;
		font-size: 24px;
	}
	.content__find{
		width: 226px;
	}
/* 	part_2 */
	.part__block_2{
		padding: 100px 0;
		width: 748px;
	}
/* block__works Carousel */
	.works__topic{
		margin: 0 auto 40px;
		width: 404px;
	}
	.topic_line{
		line-height: normal;
	}
	.sliders{
		width: 100%;
		height: 100%;
		float: left;
		background-color: $main-color;
	}
	.jcarousel__sliders,
	.jcarousel-control-prev,
	.jcarousel-control-next{
		display: block;
	}
	.sliders,
	.jcarousel li{
		width: 236px;
		height: 400px;
	}
	.sliders_1,
	.sliders_2{
		margin: 0 20px 0 0;
	}
	/* block__partners */
	.block__partners{
		margin: 100px 0;
	}
	.partners__other{
		margin-top: 24px;
		width: 188px;
	}
	.people__man{
		margin: 0 auto;
		width: 480px;
	}
	.man{
		padding: 15px 10px;
		float: left;
	}
	.man_1,
	.man_2{
		padding-top: 0;
	}
/* 	block__ideas */
	.block__ideas{
		margin-bottom: 100px;
	}
	.grid-item,
	.grid-item:first-child{
		margin: 10px;
 	}
 	.grid-item img{
		max-width: 492px;
		width: 100%;
		max-height: 310px;
	}
	.searchPartners__form{
		margin: 0 auto;
		width: 410px;
	}
	.searchPartners__slogan{
		margin-bottom: 40px;
	}
	.searchPartners__value{
		margin: 0;
		float: left;
		width: 222px;
	}
	.searchPartners__button{
		margin: 0;
		float: right;
		width: 160px;
	}
/* 	part_3 */
	.part__block_3{
		padding: 36px 0 38px 0;
		width: 688px;
	}
	.block__logo_center{
		margin: 0;
		float: left;
	}
	.block__nameNav{
		width: 67px;
		text-align: left;
	}
	.block__nameNav,
	.nameNav_main_left{
		margin-left: 94px;
	}
	.block__namePartners{
		width: 58px;
	}
	.block__designed{
		margin: auto;
		float: right;
		width: 110px;
		text-align: right;
	}
	.nameNav_main_first{
		margin-bottom: 17px;
	}
	.nameNav{
		margin: 0 0 14px 0;
		float: none;
	}
}

@media screen and (min-width : 960px){
/* 	part_1 */
	.part_1{
		background: #734440 url(../img/main__img_for_Desktop.jpg) no-repeat  ;
				-moz-background-size: cover; /* Firefox 3.6+ */
    			-webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    			-o-background-size: cover; /* Opera 9.6+ */
    			background-size: cover; /* Современные браузеры */;
	}
/* part_1  line 1 */
	.part__block{
		width: 960px;
	}
/* part_1  line 2 */
	.center__content{}
	.header_line{
		font-size: 52px;
	}
/* 	part_2 */
/* block__works Carousel */
	.sliders,
	.jcarousel li{
		width: 300px;
		height: 400px;
	}
/* block__partners */
	.partners__other{
		margin-top: 54px;
	}
	.people__man{
		margin: 0 ;
		width: 100%;
	}
	.man{
		margin: 0 20px 0 0;
		padding: 0;
	}
	.man_4{
		margin: 0;
	}
/* 	block__ideas */
 	.grid-item img{
		max-width: 620px;
	}
}
