<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/main.css">
   
    <!-- script jquery -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <!-- script for Carousel -->
    <script src="js/carousel-script.js"></script>
    <!-- script for template -->
    <script src="js/template-script.js"></script>
    <script src="js/script.js"></script>
    <title>Carousel</title>
</head>
<body>
    <!-- task 1 -->
    <div class="wrapper clearfix">
        <p class="wrapper__task">&#8544 task</p>
        <div class="wrapper__emptyArrow"><!-- стрелка лево -->
            <div class="arrow arrow_left "></div> 
        </div> 
        <!-- карусель -->
        <div class="wrapper__hider">
            <ul class="hider__carousel">
                <li class="carousel__item">
                    <img src="img/paradise01.jpg" class="carousel__img" alt="bird of paradise">
                    <p class="carousel__text">bird of paradise 1</p>
                </li>
                <li class="carousel__item">
                    <img src="img/paradise02.jpg" class="carousel__img" alt="bird of paradise">
                    <p class="carousel__text">bird of paradise 2</p>
                </li>
                <li class="carousel__item">
                    <img src="img/paradise03.jpg" class="carousel__img" alt="bird of paradise">
                    <p class="carousel__text">bird of paradise 3</p>
                </li>
                <li class="carousel__item">
                    <img src="img/paradise04.jpg" class="carousel__img" alt="bird of paradise">
                    <p class="carousel__text">bird of paradise 4</p>
                </li>
                <li class="carousel__item carousel_last">
                    <img src="img/paradise05.jpg" class="carousel__img" alt="bird of paradise">
                    <p class="carousel__text">bird of paradise 5</p>
                </li>
            </ul>
        </div>
        <div class="wrapper__emptyArrow"><!-- стрелка право -->
            <div class="arrow arrow_right "></div> 
        </div> 
   </div>
   <!-- task 2 -->
   <div class="wrapper ">
       <p class="wrapper__task">&#8545 task</p>
       <div class="wrapper__template">
           <script type="text/html" id="pictureCard">
                <h1 class="template__title"><%= myName %></h1>
                <img class="template__img" src=<%= myFace %> alt="">
                <p class="template__curs"><%= myGroup %></p>
                <p class="template__why"><%= myCause %></p>
                    <ul class="template__list">
                        <li><%= myList1 %> </li>
                        <li><%= myList2 %> </li>
                        <li><%= myList3 %> </li>
                    </ul>
                <div>
                    <p class="template__why"><%= myTel %></p>
                    <p class="template__inform"><%= myNmb %></p>
                </div>
           </script>
       </div>
   </div>
   
<!-- 2 вариант вывода template__list -->
<!-- 
   <div class="wrapper wrapper3 ">
           <script type="text/html" id="helpU">
                <% for (var i = 0; i < plist.length; i++) { %>
                    <ul class="template__list">
                        <li><%= plist[i].myList %> </li>
                    </ul>
                <% } %>
           </script>
      
   </div> -->
</body>
</html>