@import url(https://fonts.googleapis.com/css?family=Underdog&subset=latin,cyrillic);
* {
  	margin: 0;
  	padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 900px;
    position: relative;
    box-shadow: 0 0 10px #146d55;
    text-align: center;
}
.wrapper__main {
    margin-top: 40px;
    height: 400px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,188267+41,146d55+48,188267+56,ffffff+99 */
    background: #146d55; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #188267 41%, #146d55 48%, #188267 56%, #ffffff 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#188267 41%,#146d55 48%,#188267 56%,#ffffff 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#188267 41%,#146d55 48%,#188267 56%,#ffffff 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.main__name {
    padding: 90px 0 40px;
    font-family: 'Underdog', Verdana, sans-serif;
    font-size: 65px;
    color: #fff;
}
.form__search {
    padding: 0 10px;
    width: 700px;
    height: 30px;
    line-height: 30px;
    font-family:  Verdana, sans-serif;
    font-size: 17px;
    border-radius: 3px;
}
.form__btn {
    margin: 15px 0;
    width: 80px;
    height: 40px;
    line-height: 30px;
    font-family: 'Underdog', Verdana, sans-serif;
    font-size: 20px;
    color: #054332;
    border-radius: 3px;
    background: #ffffff;
}
.wrapper__result {
    margin: 0 auto;
    padding-top: 80px;
    width: 90%;

}
li {
    padding: 10px ;
    display: inline-block;
    width: 700px;
    list-style: none;
    font-family:  Verdana, sans-serif;
    font-size: 15px;
    text-align: left;
    vertical-align: middle;
}
li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-style: italic;
}
li:before{
    margin: 0px 15px -15px -40px;
    display: inline-block;
    width: 25px;
    height: 25px;
    content: "";
    background-image: url(../img/listyle.png);
}