/* общее*/
@font-face {
	font-family: 'Conv_Edwardian-Script-ITC-Regular';
	src: url('fonts/Edwardian-Script-ITC-Regular.eot');
	src: local('☺'), url('fonts/Edwardian-Script-ITC-Regular.woff') format('woff'), url('fonts/Edwardian-Script-ITC-Regular.ttf') format('truetype'), url('fonts/Edwardian-Script-ITC-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.d1, 
.d2, 
.d3, 
.d4 {
	margin-right: 4px;
}
.bottomLeft, 
.bottomRight {
	margin: 19px 0 18px 0;
}
.top2work1, 
.top2work3 {
	margin-right: 9px;
}

.no-margin, 
body, 
hr {
	margin: 0;
}
.no-padding, 
body {
	padding: 0;
}
.column1, 
.column2, 
.column3 {
	margin-right: 20px;
}
.headerLogo, 
.headerText, 
.headerLike, 
.headerSocial,
.headerLogo__link, 
.headerTM, 
.mySprite, 
.firstMenu__item_form, 
.firstMenu__item, 
.top1, 
.top2, 
.top3,
.top2work2, 
.top2work1, 
.top2work3, 
.top2work4,
.secondMenu__item, 
.inSecondMenu__item {
	display: inline-block;
}
.columnImg1, 
.columnImg2, 
.columnImg3, 
.columnImg4 {
	position: relative;
	width: 220px;
	height: 120px;
	background-color: #725b52;
}
.colorFFF {
	color: #ffffff;
}
.edge {  /* блок в центральном блоке*/
	margin: 0 auto;
	width: 940px;
}
.edgeMenu { /* блок в центральном блоке для меню*/
	margin: 0 auto;
	width: 950px;
}
.requiredForm, 
.textcomment, 
.submitText {
	padding: 0;
	color: #555555;
	font-size: 11px;
	border: 0;
	background-color: #ffffff;
	border-radius: 2px;
	outline: 0;
}
.partBottom, 
.bottomRightSentence__link {
	color: #c4c1c0;
}
.top1, 
.top2, 
.top3 {
	vertical-align: top;
}
.clearBlok {
	clear: both;
}
input::-webkit-input-placeholder {color:#9b9b9b;}
input::-moz-placeholder          {color:#9b9b9b;}/* Firefox 19+ */
input:-moz-placeholder           {color:#9b9b9b;}/* Firefox 18- */
input:-ms-input-placeholder      {color:#9b9b9b;}
/*конец общее*/
body {
	background: #725b52
				url(../img/background.jpg) no-repeat center center fixed;
				-moz-background-size: 100%; /* Firefox 3.6+ */
    			-webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    			-o-background-size: 100%; /* Opera 9.6+ */
    			background-size: 100%; /* Современные браузеры */
	font-family: Arial, Helvetica, sans-serif;
}
/*начало центральный блок*/
.main {
	margin: 0 auto;
	padding-top: 50px;
	width: 1140px;
}

/*начало блока Шапка*/
.header {
	background: rgba(0, 0, 0, 0.3);
	height: 120px;
}
.headerMin {
	height: 120px;
	position: relative;
}
/*начало блока Шапка LOGO сайта*/
.headerLogo	{}
.headerLogo__link {
	text-decoration: none;
	font-family: 'Conv_Edwardian-Script-ITC-Regular', Arial, Helvetica, sans-serif;
	font-size: 72px;
}
.headerTM {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	height: 14px;
	width: 14px;
	/*background: #bbbbbb;
	border-radius: 50% 50%;*/
}
/*конец блока Шапка LOGO сайта*/
/*начало блока Шапка текст*/
.headerText {
	position: absolute;
	font-size: 11px;
	right: 229px;
	bottom: 56px;
}
.sentenceBold  {
	font-weight: bold;
}
/*конец блока Шапка текст*/
/*начало блока Шапка Like*/
.headerLike {
	position: absolute;
	right: 126px;
	bottom: 50px;
}
.headerLike__link {
	display: block;
}
/*конец блока Шапка Like*/
/*начало блока Шапка coц сети*/
.headerSocial {
	position: absolute;
	right: 0;
	bottom: 55px;
	width: 96px;
	height: 16px;
	font-size: 0;
}
.mySprite {
	background-image: url(../img/social.png);
	width: 16px;
	height: 16px;
	text-decoration: none;
}
.d1 {
	background-color: #ff8d00;
	background-position: 96px -16px;
}
.d2 {
	background-color: #9be6e9;
	background-position: 76px -16px;
}
.d3 {
	background-color: #5071ab;
	background-position: 56px -16px;
}
.d4{
	background-color: #b1b1b1;
	background-position: 36px -16px;
}
.d5{
	 background-color: #2c82ac;
	background-position: 16px -16px;
}
/*конец блока Шапка coц сети*/
/*конец блока Шапка*/
/*начало блока Первое меню*/
.menu1 {
	background: rgba(0, 0, 0, 0.5);
}
.firstMenu {
	list-style: none;
	font-size: 0;
}
.firstMenu__item {
	border-right: 1px solid #363635;
	margin: 15px 0 9px 0;
	padding: 0 15px  0 14px;
}
.firstMenu__item:first-child {
	border-left:  1px solid #363635;
}
.edgeMenu {
	position: relative;
}
.firstMenu__item_form {
	position: absolute;
	top: 8px;
	right: 1px;
	bottom: 8px;
}
.firstMenu__link {
	font-size: 16px;
	text-decoration: none;
}
.searcchForm {
	font-size: 0;
	border: 0;
	border-radius: 1px;
	width: 151px;
	background-color: #ffffff;
}
.search {
	padding-left: 7px;
	border: 0;
	border-radius: 1px;
	padding: 0;
	width: 127px;
	height: 24px;
	line-height: 24px;
	color: #555555;
	font-size: 11px;
	outline: 0;
}
.button {
	margin: 6px;
	border: 0;
	padding: 0;
	background: url(../img/forma.png) no-repeat;
	width: 12px;
	height: 12px;
	cursor:pointer;
}
/*конец блока Первое меню*/
/*начало блока Второе меню*/
.menu2 {
	background: #904c7a;
	height: 67px;
}
.secondMenu__item {
	padding: 23px 0 23px 15px;
	font-size: 16px;
	font-weight: bold;
	color: #d3b7ca;
}
.secondMenu__item:hover {
	color: #ffffff;
	background: #6c395b;
}
.secondMenu__item {
	display: inline-block;
}

.inSecondMenu {
	display: none;
}
.secondMenu__item:hover .inSecondMenu {
	display: inline-block;
	background: #6c395b;
}
.inSecondMenu__link {
	padding:  0 8px;
	text-decoration: none;
	font-size: 11px;
	color: #c4b0bd;
}
.inSecondMenu__link:hover {
		color: #ffffff;
	background: #512b44;
}
/*конец блока Второе меню*/
/*начало  блока с контeнтом*/
.whiteCenter {
	padding: 51px 0 52px 0;
	background-color: #ffffff;
	font-size: 0;
}
/*начало  начало  блока 4 колонки*/
.fourColumns {
	margin-bottom: 60px;
}
.oneColumn {
	width: 220px;
	display: inline-block;
	vertical-align: top;
}
.columnData {
	margin-bottom: 20px;
	font-size: 14px;
	color: #bdbdbd;
}
.dataBold {
	color: #555555;
}
.columnHeader{
	padding: 10px 0 10px 10px;
	font-size: 14px;
	font-weight: bold;
}
.backgroundHeader {
	position: absolute;
	bottom: 0;
	height: 70px;
	background: rgba(0, 0, 0, 0.5);
}
.columnText {
	margin: 19px 0 20px 0;
}
.columnBriefly {
	font-size: 13px;
	color: #666666;
}
.columnButton {
	height: 29px;
}
.columnDeteils { /*блок кнопка Deteils в колонке*/
	padding: 6px 7px 5px 7px;
	background: #f8f8f8;
	border: 1px solid #cccccc;
	border-radius: 2px;
	text-decoration: none;
	font-size: 11px;
	color: #666666;
	box-shadow: 0 0 0 4px #eeeeee;
}
.columnImg1 {
	background-image:url(../img/n-1.jpg);
}
.columnImg2 {
	background-image:url(../img/n-2.jpg);
}
.columnImg3 {
	background-image:url(../img/n-3.jpg);
}
.columnImg4 {
	background-image:url(../img/n-4.jpg);
}
/*конец  начало  блока 4 колонки*/
.timeLineText {
	float: left;
	width: 615px;
}
.whiteCenterHr {
	margin-bottom: 50px;
}
.timeLineSentence {
	padding: 7px 0 4px 0;
	color: #555555;
	font-size: 24px;
}
.purchaseButton {
	float: right;
	width: 243px;
}
/*конец  блока с контeнтом*/
/*начало  блока footer*/
.footer {
	background: rgba(0, 0, 0, 0.5);
}
.partTop {
	padding: 31px 0 71px 0;
}
.topHeader {
	margin: 0 0 19px 0;
	font-size: 18px;
	font-weight: normal;
}
.text1 {
	margin-bottom: 22px;
}
.top1 {
	margin-right: 20px;
	width: 293px;
}
.text1Sentence {
	font-size: 13px;
}
.text2Sentence {
	font-size: 15px;
}
.text2img {
	float: left;
	width: 20px;
}
.text2blok {

	float: right;
	width: 263px;
}
.top2 {
	margin-right: 15px;
	width: 301px;
	font-size: 0;
}
.line1 {
	margin-bottom: 9px;
}
.top3 {
	width: 300px;
}
.top3Form {
	background: rgba(0, 0, 0, 0.7);
}
.footerForm {
	padding: 11px 11px 15px 11px;
}

.requiredForm {
	margin-bottom: 7px;
	width: 168px;
	height: 24px;
}
.requiredForm, 
.necessarily {
	padding-left: 9px;
}
.necessarily {
	font-size: 11px;
	color: #aaaaaa;
}
.textcomment {
	padding: 9px 0 0 9px;
	margin-bottom: 15px;
	width: 269px;
	height: 70px;
}
.submitText {
	margin-left: 226px;
	padding: 7px 8px;
	font-size: 9px;
	border: 1px solid #b2b2b2;
}
/*начало  блока footer нижний*/
.partBottom {
	font-size: 11px;
}

.bottomLeft {
	width: 118px;
	float: left;
}
.bottomRight {
	width: 205px;
	float: right;
}

/*конец блока footer нижний*/
/*конец   блока footer*/
/*конец центральный блок*/
