/* общие*/
*{
	color: #fff;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
a{
	text-decoration: none;
}
html {
  height:100%;
}
body{
	height:100%;
  	min-height:100%;
	background: #000
				url(../img/background.png) no-repeat center center fixed;
				-moz-background-size: 100%; /* Firefox 3.6+ */
    			-webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    			-o-background-size: 100%; /* Opera 9.6+ */
    			background-size: 100%; /* Современные браузеры */
}
.b-sriLanka, .b-nepal{
	margin: 0 6px;
}
.b-contacts, .b-logo__link, .b-footer{
		font-size: 11px;
}
/*конец общие*/

/*начало  основного блока*/
.b-conteiner{
	margin: 0 auto;
	position: relative;
	width: 823px;
	height: 100%;
	min-height:100% !important;
}
/*начало  блока шапка*/
.b-head{
	position: relative;
	padding-top: 56px;
}
/*начало  блока лого*/
.b-logo{
	width: 266px;
	height: 147px;
	background: url(../img/logo.png) ;
}
.b-logotext{
	padding-top: 122px;
}
.b-logo__link{
	display: block;
	text-align: center;
}
/*конец  блока лого*/
/*начало  блока контакты*/
.b-contacts{
	position: absolute;
	right: 17px;
	bottom: 16px;
	line-height: 1.5;
}
/*конец  блока контакты-*/
/*конец  блока шапка*/

/*начало  блока страны*/
.b-contries{
	font-size: 0;
}
/*начало  блока первая линия*/
.b-lineInBlock{
	display: inline-block;
}
.b-contriesLink:hover{
		text-decoration: underline;
}
.b-contriesText{
	font-size: 15px;
	text-align: center;
}
/*конец  блока первая линия*/
/*начало  блока вторая линия*/
.b-secondLine{
	margin-top: 49px;
}
/*конец  блока вторая линия*/
/*конец  блока страны*/

/*начало  блока footer*/
.b-footer{
	position: absolute;
	bottom: 0;
	padding-bottom: 30px;
	text-align: center;
	width: 100%;
}
/*конец  основного footer*/
/*конец  основного блока*/





/**/
.{}
.{}
.{}
.{}
.{}
.{}
